.produit-wrapper {
    margin-top:30px;
}
.products {
    display: flex;
    width: 88%;
    margin-left: 6%;
}
.product {
    width: 200%;
    margin: 2%;
    .text {
        text-align: center;
        font-size: 28px;
    }
    .price {
        text-align: center;
        font-size: 28px;
    }
}